<a href="https://colab.research.google.com/github/AlexBB999/THINK/blob/master/NYC_Flights.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

AIRLINE PROBLEM

In [0]:

# Load the Drive helper and mount
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
df_flights =pd.read_csv('/content/drive/My Drive/flights.csv')

In [0]:
df_flights.head()

In [0]:
df_airlines=pd.read_csv('https://raw.githubusercontent.com/AlexBB999/Thinkful/master/airlines.csv')

In [0]:
df_airlines

MERGE FILES

In [0]:
df_merged = pd.merge(df_flights, df_airlines)

In [0]:
df_merged.head()

In [0]:
df_merged.shape

In [0]:
df_merged.describe()

In [0]:
df_merged.info()

In [0]:
df_merged.isnull().values.any()

dep_time, dep_delay,arr_time,tailnum,air_time all have missing values

In [0]:
df_merged=df_merged.dropna()

In [0]:
df_merged.isnull().values.any()

CENSUS PROBLEM ======================================================================

In [0]:
df_census_states=pd.read_csv('https://raw.githubusercontent.com/AlexBB999/Thinkful/master/state-populations.csv')

In [0]:
df_census_states.head()

In [0]:
df_census_regions=pd.read_csv("https://raw.githubusercontent.com/AlexBB999/Thinkful/master/census-divisions.csv")

In [0]:
df_census_regions.head()

#1   MERGE FILES

In [0]:
df_census=pd.merge(df_census_states,df_census_regions)

In [0]:
df_census.head()

In [0]:
df_census.shape

In [0]:
df_census.info()

In [0]:
list(df_census)

2 Re-shape census so that one column contains all population measures, and another the year attributes.

In [0]:
census_melt=pd.melt(frame=df_census, id_vars=["state", 'region','division'],var_name='year',value_name="population")

In [11]:
census_melt

             state   region            division  year  population
0          Alabama    South  East South Central  2010     4785492
1           Alaska     West             Pacific  2010      714031
2          Arizona     West            Mountain  2010     6408312
3         Arkansas    South  West South Central  2010     2921995
4       California     West             Pacific  2010    37332685
..             ...      ...                 ...   ...         ...
352       Virginia    South      South Atlantic  2016     8411808
353     Washington     West             Pacific  2016     7288000
354  West Virginia    South      South Atlantic  2016     1831102
355      Wisconsin  Midwest  East North Central  2016     5778708
356        Wyoming     West            Mountain  2016      585501

[357 rows x 5 columns]

(min, max, average, mean, median, standard deviation)

3   GROUP DATA BY YEAR AND SUMMARIZE IT

In [24]:
census_melt.groupby("year").agg({"population":['max','min', "mean","median",'std']})

     population
            max     min          mean   median           std
year
2010   37332685  564513  6.065651e+06  4348662  6.839536e+06
2011   37676861  567725  6.111046e+06  4369354  6.907730e+06
2012   38011074  576765  6.156831e+06  4384799  6.974942e+06
2013   38335203  582684  6.200096e+06  4400477  7.038774e+06
2014   38680810  583642  6.246342e+06  4413057  7.110811e+06
2015   38993940  586555  6.292091e+06  4424611  7.181603e+06
2016   39250017  585501  6.335834e+06  4436974  7.243849e+06

#4 Group the data by region, division and year and summarize it.

In [27]:
census_melt.groupby(["division","region",'year']).agg({"population":['max','min', "mean","median",'std']})

                                population           ...
                                       max      min  ...     median           std
division           region  year                      ...
East North Central Midwest 2010   12841578  5690263  ...  9877495.0  3.115322e+06
                           2011   12860012  5709640  ...  9876213.0  3.109807e+06
                           2012   12870798  5726177  ...  9887238.0  3.104953e+06
                           2013   12879505  5742854  ...  9898982.0  3.099620e+06
                           2014   12867544  5758377  ...  9915767.0  3.091076e+06
...                                    ...      ...  ...        ...           ...
West South Central South   2012   26071655  2950685  ...  4210241.5  1.116106e+07
                           2013   26473525  2958663  ...  4239408.5  1.135099e+07
                           2014   26944751  2966912  ...  4262689.5  1.157740e+07
                           2015   27429639  2977853  ...  4288187.0  1.180938e+07
                           2016   27862596  2988248  ...  4302613.5  1.201902e+07

[63 rows x 5 columns]

4 Group the data by region, division and year and summarize it.