<a href="https://colab.research.google.com/github/AlexBB999/THINK/blob/master/NYC_Flights.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

AIRLINE PROBLEM

In [0]:

# Load the Drive helper and mount
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
df_flights =pd.read_csv('/content/drive/My Drive/flights.csv')

In [0]:
df_flights.head()

   year  month  day  dep_time  ...  distance  hour  minute            time_hour
0  2013      1    1     517.0  ...      1400     5      15  2013-01-01 05:00:00
1  2013      1    1     533.0  ...      1416     5      29  2013-01-01 05:00:00
2  2013      1    1     542.0  ...      1089     5      40  2013-01-01 05:00:00
3  2013      1    1     544.0  ...      1576     5      45  2013-01-01 05:00:00
4  2013      1    1     554.0  ...       762     6       0  2013-01-01 06:00:00

[5 rows x 19 columns]

In [0]:
df_airlines=pd.read_csv('https://raw.githubusercontent.com/AlexBB999/Thinkful/master/airlines.csv')

In [0]:
df_airlines

   carrier                         name
0       9E            Endeavor Air Inc.
1       AA       American Airlines Inc.
2       AS         Alaska Airlines Inc.
3       B6              JetBlue Airways
4       DL         Delta Air Lines Inc.
5       EV     ExpressJet Airlines Inc.
6       F9       Frontier Airlines Inc.
7       FL  AirTran Airways Corporation
8       HA       Hawaiian Airlines Inc.
9       MQ                    Envoy Air
10      OO        SkyWest Airlines Inc.
11      UA        United Air Lines Inc.
12      US              US Airways Inc.
13      VX               Virgin America
14      WN       Southwest Airlines Co.
15      YV           Mesa Airlines Inc.

MERGE FILES

In [0]:
df_merged = pd.merge(df_flights, df_airlines)

In [0]:
df_merged.head()

   year  month  day  ...  minute            time_hour                   name
0  2013      1    1  ...      15  2013-01-01 05:00:00  United Air Lines Inc.
1  2013      1    1  ...      29  2013-01-01 05:00:00  United Air Lines Inc.
2  2013      1    1  ...      58  2013-01-01 05:00:00  United Air Lines Inc.
3  2013      1    1  ...       0  2013-01-01 06:00:00  United Air Lines Inc.
4  2013      1    1  ...       0  2013-01-01 06:00:00  United Air Lines Inc.

[5 rows x 20 columns]

In [0]:
df_merged.shape

(336776, 20)

In [0]:
df_merged.describe()

           year          month  ...           hour         minute
count  336776.0  336776.000000  ...  336776.000000  336776.000000
mean     2013.0       6.548510  ...      13.180247      26.230100
std         0.0       3.414457  ...       4.661316      19.300846
min      2013.0       1.000000  ...       1.000000       0.000000
25%      2013.0       4.000000  ...       9.000000       8.000000
50%      2013.0       7.000000  ...      13.000000      29.000000
75%      2013.0      10.000000  ...      17.000000      44.000000
max      2013.0      12.000000  ...      23.000000      59.000000

[8 rows x 14 columns]

In [0]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 336776 entries, 0 to 336775
Data columns (total 20 columns):
year              336776 non-null int64
month             336776 non-null int64
day               336776 non-null int64
dep_time          328521 non-null float64
sched_dep_time    336776 non-null int64
dep_delay         328521 non-null float64
arr_time          328063 non-null float64
sched_arr_time    336776 non-null int64
arr_delay         327346 non-null float64
carrier           336776 non-null object
flight            336776 non-null int64
tailnum           334264 non-null object
origin            336776 non-null object
dest              336776 non-null object
air_time          327346 non-null float64
distance          336776 non-null int64
hour              336776 non-null int64
minute            336776 non-null int64
time_hour         336776 non-null object
name              336776 non-null object
dtypes: float64(5), int64(9), object(6)
memory usage: 54.0+ MB

In [0]:
df_merged.isnull().values.any()

True

In [0]:
df_merged=df_merged.dropna()

In [0]:
df_merged.isnull().values.any()

False

CENSUS PROBLEM ======================================================================

In [0]:
df_census_states=pd.read_csv('https://raw.githubusercontent.com/AlexBB999/Thinkful/master/state-populations.csv')

In [13]:
df_census_states.head()

        state      2010      2011  ...      2014      2015      2016
0     Alabama   4785492   4799918  ...   4843214   4853875   4863300
1      Alaska    714031    722713  ...    736705    737709    741894
2     Arizona   6408312   6467163  ...   6719993   6817565   6931071
3    Arkansas   2921995   2939493  ...   2966912   2977853   2988248
4  California  37332685  37676861  ...  38680810  38993940  39250017

[5 rows x 8 columns]

In [0]:
df_census_regions=pd.read_csv("https://raw.githubusercontent.com/AlexBB999/Thinkful/master/census-divisions.csv")

In [15]:
df_census_regions.head()

           state     region     division
0    Connecticut  Northeast  New England
1          Maine  Northeast  New England
2  Massachusetts  Northeast  New England
3  New Hampshire  Northeast  New England
4   Rhode Island  Northeast  New England

#1   MERGE FILES

In [0]:
df_census=pd.merge(df_census_states,df_census_regions)

In [18]:
df_census.head()

        state      2010      2011  ...      2016  region            division
0     Alabama   4785492   4799918  ...   4863300   South  East South Central
1      Alaska    714031    722713  ...    741894    West             Pacific
2     Arizona   6408312   6467163  ...   6931071    West            Mountain
3    Arkansas   2921995   2939493  ...   2988248   South  West South Central
4  California  37332685  37676861  ...  39250017    West             Pacific

[5 rows x 10 columns]

In [19]:
df_census.shape

(51, 10)

In [22]:
df_census.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 10 columns):
state       51 non-null object
2010        51 non-null int64
2011        51 non-null int64
2012        51 non-null int64
2013        51 non-null int64
2014        51 non-null int64
2015        51 non-null int64
2016        51 non-null int64
region      51 non-null object
division    51 non-null object
dtypes: int64(7), object(3)
memory usage: 4.4+ KB

In [20]:
list(df_census)

['state',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 'region',
 'division']

2 Re-shape census so that one column contains all population measures, and another the year attributes.

In [0]:
dft_census=df_census.T

In [53]:
dft_census

                          0        1   ...                  49        50
state                Alabama   Alaska  ...           Wisconsin   Wyoming
2010                 4785492   714031  ...             5690263    564513
2011                 4799918   722713  ...             5709640    567725
2012                 4815960   731089  ...             5726177    576765
2013                 4829479   736879  ...             5742854    582684
2014                 4843214   736705  ...             5758377    583642
2015                 4853875   737709  ...             5767891    586555
2016                 4863300   741894  ...             5778708    585501
region                 South     West  ...             Midwest      West
division  East South Central  Pacific  ...  East North Central  Mountain

[10 rows x 51 columns]

 3    GROUP DATA BY YEAR AND SUMMARIZE

In [47]:
df_census.groupby(["2010","2011","2012","2013","2014","2015","2016"])["state"].sum()

2010      2011      2012      2013      2014      2015      2016
564513    567725    576765    582684    583642    586555    585501                   Wyoming
605183    620477    635327    649165    659005    670377    681170      District of Columbia
625982    626730    626444    627140    626984    626088    624594                   Vermont
674526    685476    702087    724019    739904    756835    757952              North Dakota
714031    722713    731089    736879    736705    737709    741894                    Alaska
816325    824398    834441    844922    852561    857919    865454              South Dakota
899816    907924    916993    925395    934948    944076    952065                  Delaware
990641    997821    1005196   1014314   1022867   1032073   1042520                  Montana
1053337   1052451   1052901   1053033   1054480   1055607   1056426             Rhode Island
1316872   1318473   1321182   1322687   1328743   1330111   1334795            New Hampshire
1327730   1328231   1328895   1329076   1330719   1329453   1331479                    Maine
1363945   1377864   1391820   1406481   1416349   1425157   1428557                   Hawaii
1571010   1584143   1595911   1612011   1633532   1652828   1683140                    Idaho
1830051   1842283   1855725   1868559   1881145   1893765   1907116                 Nebraska
1854230   1854972   1856560   1853231   1848514   1841053   1831102            West Virginia
2064756   2077756   2083784   2085193   2083024   2080328   2081015               New Mexico
2703284   2718379   2752565   2786464   2833013   2883758   2940058                   Nevada
2775326   2816124   2855782   2902663   2941836   2990632   3051217                     Utah
2858850   2869503   2885262   2892821   2899360   2906721   2907289                   Kansas
2921995   2939493   2950685   2958663   2966912   2977853   2988248                 Arkansas
2970322   2978162   2984945   2990482   2992400   2989390   2988726              Mississippi
3050738   3065223   3076310   3091930   3108030   3121997   3134693                     Iowa
3579899   3589893   3593795   3596003   3591873   3584730   3576452              Connecticut
3759603   3786274   3817054   3852415   3877499   3907414   3923561                 Oklahoma
3838048   3868031   3899116   3925751   3968371   4024634   4093465                   Oregon
4348662   4369354   4384799   4400477   4413057   4424611   4436974                 Kentucky
4544996   4575404   4603429   4626402   4647880   4668960   4681666                Louisiana
4635943   4672637   4720760   4767894   4828430   4894834   4961119           South Carolina
4785492   4799918   4815960   4829479   4843214   4853875   4863300                  Alabama
5048644   5118360   5189867   5267603   5349648   5448819   5540545                 Colorado
5311147   5348562   5380285   5418521   5453109   5482435   5519952                Minnesota
5690263   5709640   5726177   5742854   5758377   5767891   5778708                Wisconsin
5788584   5843603   5889651   5931129   5967295   5994983   6016447                 Maryland
5996118   6010717   6025415   6042711   6060930   6076204   6093000                 Missouri
6356671   6397634   6454306   6494821   6544663   6595056   6651194                Tennessee
6408312   6467163   6549634   6624617   6719993   6817565   6931071                  Arizona
6490528   6516480   6537743   6569102   6595233   6612768   6633053                  Indiana
6565524   6611923   6658008   6706786   6749911   6784240   6811779            Massachusetts
6743226   6822520   6895226   6968006   7054196   7160290   7288000               Washington
8025773   8110035   8192048   8262692   8317372   8367587   8411808                 Virginia
8803729   8841243   8873211   8899162   8925001   8935421   8944469               New Jersey
9558915   9650963   9746175   9841590   9934399   10035186  10146788          North Carolina
9713521   9811610   9914668   9984938   10087231  10199398  10310371                 Georgia
9877495   9876213   9887238   9898982   9915767   9917715   9928300                 Michigan
11540983  11544824  11550839  11570022  11594408  11605090  11614373                    Ohio
12712343  12744293  12771854  12781338  12790565  12791904  12784227            Pennsylvania
12841578  12860012  12870798  12879505  12867544  12839047  12801539                Illinois
18849098  19096952  19344156  19582022  19888741  20244914  20612439                 Florida
19402640  19519529  19602769  19673546  19718515  19747183  19745289                New York
25244310  25646389  26071655  26473525  26944751  27429639  27862596                   Texas
37332685  37676861  38011074  38335203  38680810  38993940  39250017              California
Name: state, dtype: object

4   Group the data by region, division and year and summarize it.

In [48]:
df_census.groupby(['region',"division","2010","2011","2012","2013","2014","2015","2016"])["state"].sum()

region     division            2010      2011      2012      2013      2014      2015      2016
Midwest    East North Central  5690263   5709640   5726177   5742854   5758377   5767891   5778708                Wisconsin
                               6490528   6516480   6537743   6569102   6595233   6612768   6633053                  Indiana
                               9877495   9876213   9887238   9898982   9915767   9917715   9928300                 Michigan
                               11540983  11544824  11550839  11570022  11594408  11605090  11614373                    Ohio
                               12841578  12860012  12870798  12879505  12867544  12839047  12801539                Illinois
           West North Central  674526    685476    702087    724019    739904    756835    757952              North Dakota
                               816325    824398    834441    844922    852561    857919    865454              South Dakota
                               1830051   1842283   1855725   1868559   1881145   1893765   1907116                 Nebraska
                               2858850   2869503   2885262   2892821   2899360   2906721   2907289                   Kansas
                               3050738   3065223   3076310   3091930   3108030   3121997   3134693                     Iowa
                               5311147   5348562   5380285   5418521   5453109   5482435   5519952                Minnesota
                               5996118   6010717   6025415   6042711   6060930   6076204   6093000                 Missouri
Northeast  Middle Atlantic     8803729   8841243   8873211   8899162   8925001   8935421   8944469               New Jersey
                               12712343  12744293  12771854  12781338  12790565  12791904  12784227            Pennsylvania
                               19402640  19519529  19602769  19673546  19718515  19747183  19745289                New York
           New England         625982    626730    626444    627140    626984    626088    624594                   Vermont
                               1053337   1052451   1052901   1053033   1054480   1055607   1056426             Rhode Island
                               1316872   1318473   1321182   1322687   1328743   1330111   1334795            New Hampshire
                               1327730   1328231   1328895   1329076   1330719   1329453   1331479                    Maine
                               3579899   3589893   3593795   3596003   3591873   3584730   3576452              Connecticut
                               6565524   6611923   6658008   6706786   6749911   6784240   6811779            Massachusetts
South      East South Central  2970322   2978162   2984945   2990482   2992400   2989390   2988726              Mississippi
                               4348662   4369354   4384799   4400477   4413057   4424611   4436974                 Kentucky
                               4785492   4799918   4815960   4829479   4843214   4853875   4863300                  Alabama
                               6356671   6397634   6454306   6494821   6544663   6595056   6651194                Tennessee
           South Atlantic      605183    620477    635327    649165    659005    670377    681170      District of Columbia
                               899816    907924    916993    925395    934948    944076    952065                  Delaware
                               1854230   1854972   1856560   1853231   1848514   1841053   1831102            West Virginia
                               4635943   4672637   4720760   4767894   4828430   4894834   4961119           South Carolina
                               5788584   5843603   5889651   5931129   5967295   5994983   6016447                 Maryland
                               8025773   8110035   8192048   8262692   8317372   8367587   8411808                 Virginia
                               9558915   9650963   9746175   9841590   9934399   10035186  10146788          North Carolina
                               9713521   9811610   9914668   9984938   10087231  10199398  10310371                 Georgia
                               18849098  19096952  19344156  19582022  19888741  20244914  20612439                 Florida
           West South Central  2921995   2939493   2950685   2958663   2966912   2977853   2988248                 Arkansas
                               3759603   3786274   3817054   3852415   3877499   3907414   3923561                 Oklahoma
                               4544996   4575404   4603429   4626402   4647880   4668960   4681666                Louisiana
                               25244310  25646389  26071655  26473525  26944751  27429639  27862596                   Texas
West       Mountain            564513    567725    576765    582684    583642    586555    585501                   Wyoming
                               990641    997821    1005196   1014314   1022867   1032073   1042520                  Montana
                               1571010   1584143   1595911   1612011   1633532   1652828   1683140                    Idaho
                               2064756   2077756   2083784   2085193   2083024   2080328   2081015               New Mexico
                               2703284   2718379   2752565   2786464   2833013   2883758   2940058                   Nevada
                               2775326   2816124   2855782   2902663   2941836   2990632   3051217                     Utah
                               5048644   5118360   5189867   5267603   5349648   5448819   5540545                 Colorado
                               6408312   6467163   6549634   6624617   6719993   6817565   6931071                  Arizona
           Pacific             714031    722713    731089    736879    736705    737709    741894                    Alaska
                               1363945   1377864   1391820   1406481   1416349   1425157   1428557                   Hawaii
                               3838048   3868031   3899116   3925751   3968371   4024634   4093465                   Oregon
                               6743226   6822520   6895226   6968006   7054196   7160290   7288000               Washington
                               37332685  37676861  38011074  38335203  38680810  38993940  39250017              California
Name: state, dtype: object