<a href="https://colab.research.google.com/github/AlexBB999/THINK/blob/master/NYC_Flights.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

AIRLINE PROBLEM

In [0]:

# Load the Drive helper and mount
from google.colab import drive
drive.mount('/content/drive')

KeyboardInterrupt: ignored

In [0]:
df_flights =pd.read_csv('/content/drive/My Drive/flights.csv')

In [0]:
df_flights.head()

In [0]:
df_airlines=pd.read_csv('https://raw.githubusercontent.com/AlexBB999/Thinkful/master/airlines.csv')

In [0]:
df_airlines

MERGE FILES

In [0]:
df_merged = pd.merge(df_flights, df_airlines)

In [0]:
df_merged.head()

In [0]:
df_merged.shape

In [0]:
df_merged.describe()

In [0]:
df_merged.info()

In [0]:
df_merged.isnull().values.any()

dep_time, dep_delay,arr_time,tailnum,air_time all have missing values

In [0]:
df_merged=df_merged.dropna()

In [0]:
df_merged.isnull().values.any()

CENSUS PROBLEM ======================================================================

In [0]:
df_census_states=pd.read_csv('https://raw.githubusercontent.com/AlexBB999/Thinkful/master/state-populations.csv')

In [0]:
df_census_states.head()

In [0]:
df_census_regions=pd.read_csv("https://raw.githubusercontent.com/AlexBB999/Thinkful/master/census-divisions.csv")

In [0]:
df_census_regions.head()

#1   MERGE FILES

In [0]:
df_census=pd.merge(df_census_states,df_census_regions)

In [0]:
df_census.head()

In [0]:
df_census.shape

In [0]:
df_census.info()

In [0]:
list(df_census)

2 Re-shape census so that one column contains all population measures, and another the year attributes.

In [0]:
#$pd.melt(frame=dft_census[0:356], var_name='state',value_name="population").head(50)

In [0]:
census_melt=pd.melt(frame=df_census, id_vars=["state"],var_name='year',value_name="population")

In [0]:
census_melt[:357]

             state  year population
0          Alabama  2010    4785492
1           Alaska  2010     714031
2          Arizona  2010    6408312
3         Arkansas  2010    2921995
4       California  2010   37332685
..             ...   ...        ...
352       Virginia  2016    8411808
353     Washington  2016    7288000
354  West Virginia  2016    1831102
355      Wisconsin  2016    5778708
356        Wyoming  2016     585501

[357 rows x 3 columns]

3   GROUP DATA BY YEAR AND SUMMARIZE IT

In [0]:
census_melt[:357].groupby("year").agg({"population": ['sum','max','min', 'std']})

     population
            sum       max     min           std
year
2010  309348193  37332685  564513  6.839536e+06
2011  311663358  37676861  567725  6.907730e+06
2012  313998379  38011074  576765  6.974942e+06
2013  316204908  38335203  582684  7.038774e+06
2014  318563456  38680810  583642  7.110811e+06
2015  320896618  38993940  586555  7.181603e+06
2016  323127513  39250017  585501  7.243849e+06

In [0]:
df_census.groupby("2010","2011","2012","2013","2014","2015","2016").describe()

4 Group the data by region, division and year and summarize it.

In [0]:
df_census.groupby(["division",'region']).describe()

                              2010                ...         2016
                             count          mean  ...          75%         max
division           region                         ...
East North Central Midwest     5.0  9.288169e+06  ...  11614373.00  12801539.0
East South Central South       4.0  4.615287e+06  ...   5310273.50   6651194.0
Middle Atlantic    Northeast   3.0  1.363957e+07  ...  16264758.00  19745289.0
Mountain           West        8.0  2.765811e+06  ...   3673549.00   6931071.0
New England        Northeast   6.0  2.411557e+06  ...   3016037.75   6811779.0
Pacific            West        5.0  9.998387e+06  ...   7288000.00  39250017.0
South Atlantic     South       9.0  6.659007e+06  ...  10146788.00  20612439.0
West North Central Midwest     7.0  2.933965e+06  ...   4327322.50   6093000.0
West South Central South       4.0  9.117726e+06  ...  10476898.50  27862596.0

[9 rows x 56 columns]