<a href="https://colab.research.google.com/github/AlexBB999/THINK/blob/master/SQL_into_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Import the SQL ALchemy engine
from sqlalchemy import create_engine

In [0]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'

postgres_db = 'dvdrentals'

In [3]:
# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [0]:
'''select count(*),rating
From film
group by rating'''

'select count(*),rating\nFrom film\ngroup by rating'

In [0]:
sql=''' Select Count

In [0]:
film= engine.execute('SELECT * FROM film' )
#count= engine.execute('SELECT count(*) FROM film' )

In [0]:
# dispose the connection
engine.dispose()

In [0]:
# use fetchall() to get a list of rows from the results.
rose = film.fetchall()

In [0]:
# fetch the first row from the Results
ans = film.first()

# print the count
#print('There are {} rows in the table'.format(ans['count']))

In [8]:
type(rose)

list

In [0]:
#rose

In [9]:
rose[0]

(1, 'ACADEMY DINOSAUR', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 2006, 1, None, 6, Decimal('0.99'), 86, Decimal('20.99'), 'PG', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Deleted Scenes', 'Behind the Scenes'], "'academi':1 'battl':15 'canadian':20 'dinosaur':2 'drama':5 'epic':4 'feminist':8 'mad':11 'must':14 'rocki':21 'scientist':12 'teacher':17")

In [10]:
# Process the results
for i in range(5) :
  print(rose[i])

(1, 'ACADEMY DINOSAUR', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 2006, 1, None, 6, Decimal('0.99'), 86, Decimal('20.99'), 'PG', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Deleted Scenes', 'Behind the Scenes'], "'academi':1 'battl':15 'canadian':20 'dinosaur':2 'drama':5 'epic':4 'feminist':8 'mad':11 'must':14 'rocki':21 'scientist':12 'teacher':17")
(2, 'ACE GOLDFINGER', 'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China', 2006, 1, None, 3, Decimal('4.99'), 48, Decimal('12.99'), 'G', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Trailers', 'Deleted Scenes'], "'ace':1 'administr':9 'ancient':19 'astound':4 'car':17 'china':20 'databas':8 'epistl':5 'explor':12 'find':15 'goldfing':2 'must':14")
(3, 'ADAPTATION HOLES', 'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory', 2006, 1, None, 7, Decimal('2.99'), 50, Decimal('18.99'), 'NC-17', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Trailers', 'Deleted Scenes'], "'adapt':1 'astound':4 'baloon':19 'car':11 'factori':20 'hole':2 'lumberjack':8,16 'must':13 'reflect':5 'sink':14")
(4, 'AFFAIR PREJUDICE', 'A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank', 2006, 1, None, 5, Decimal('2.99'), 117, Decimal('26.99'), 'G', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Commentaries', 'Behind the Scenes'], "'affair':1 'chase':14 'documentari':5 'fanci':4 'frisbe':8 'lumberjack':11 'monkey':16 'must':13 'prejudic':2 'shark':19 'tank':20")
(5, 'AFRICAN EGG', 'A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico', 2006, 1, None, 6, Decimal('2.99'), 130, Decimal('22.99'), 'G', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Deleted Scenes'], "'african':1 'chef':11 'dentist':14 'documentari':7 'egg':2 'fast':5 'fast-pac':4 'forens':19 'gulf':23 'mexico':25 'must':16 'pace':6 'pastri':10 'psychologist':20 'pursu':17")

In [11]:
rose[0]['rating']

'PG'

In [0]:
#PG = [rose[i]['rating'] for i in range(1000) if rose[i]['rating'] =="PG"]
rates= [rose[i]['rating'] for i in range(1000)]
#rates

In [0]:
len(rates)

1000

In [0]:
  
  #list(map(lambda x: x.upper(), ['cat', 'dog', 'cow']))
 #list(map(lambda x: x.count("PG")+1, rates))
# sum(map(lambda x: x.count("PG"), rates))
#sum(map(lambda x: rate_types.count(x) , rates))
#sum(map(lambda x: rate_types.count(x) , rates))
#

In [0]:
rate_types=['PG','R','PG-13','NC-17','G']

In [0]:
THIS NEXT LION COUNTS THE NUMBER OF FILMS  BY RATING

In [0]:
types=[rates.count(x) for x in rate_types]

In [16]:
list(zip(rate_types,types))

[('PG', 194), ('R', 195), ('PG-13', 223), ('NC-17', 210), ('G', 178)]

In [0]:
thursday 4:30 PM

In [0]:
#test=[rose[i] for x in rate_types for i in range(1000) if rose[i]['rating']==x ]
#test=[rose[i]  if  rose[i]['rating']==x  for x in rate_types]

In [0]:
rose[0]['rating']

'PG'

In [0]:
rose[1]

(2, 'ACE GOLDFINGER', 'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China', 2006, 1, None, 3, Decimal('4.99'), 48, Decimal('12.99'), 'G', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Trailers', 'Deleted Scenes'], "'ace':1 'administr':9 'ancient':19 'astound':4 'car':17 'china':20 'databas':8 'epistl':5 'explor':12 'find':15 'goldfing':2 'must':14")

In [0]:
#WANT TO DIVIDE ROWS BY RATING
divs=[rose[i] for i in range(1000)  if rose[i]['rating'] in rate_types]

In [0]:
len(divs)

1000

AVERAGE DURATIONS

In [28]:
pgs=[rose[i]['rental_duration'] for i in range(1000)  if  rose[i]['rating']=='PG']
pg_average_rental_duration=sum(pgs)/len(pgs)
pg_average_rental_duration

5.082474226804123

In [29]:
r=[rose[i]['rental_duration'] for i in range(1000)  if  rose[i]['rating']=='R']
r_average_rental_duration=sum(r)/len(r)
r_average_rental_duration

4.774358974358974

In [30]:
pg13=[rose[i]['rental_duration'] for i in range(1000)  if  rose[i]['rating']=='PG-13']
pg13_average_rental_duration=sum(pg13)/len(pg13)
pg13_average_rental_duration

5.053811659192825

In [31]:
nc17=[rose[i]['rental_duration'] for i in range(1000)  if  rose[i]['rating']=='NC-17']
nc17_average_rental_duration=sum(nc17)/len(nc17)
nc17_average_rental_duration

5.142857142857143

In [32]:
g=[rose[i]['rental_duration'] for i in range(1000)  if  rose[i]['rating']=='G']
g_average_rental_duration=sum(g)/len(g)
g_average_rental_duration

4.837078651685394

===============================================================

In [18]:
len(pgs)

194

In [19]:
pgs[:5]

[(1, 'ACADEMY DINOSAUR', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 2006, 1, None, 6, Decimal('0.99'), 86, Decimal('20.99'), 'PG', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Deleted Scenes', 'Behind the Scenes'], "'academi':1 'battl':15 'canadian':20 'dinosaur':2 'drama':5 'epic':4 'feminist':8 'mad':11 'must':14 'rocki':21 'scientist':12 'teacher':17"),
 (6, 'AGENT TRUMAN', 'A Intrepid Panorama of a Robot And a Boy who must Escape a Sumo Wrestler in Ancient China', 2006, 1, None, 3, Decimal('2.99'), 169, Decimal('17.99'), 'PG', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Deleted Scenes'], "'agent':1 'ancient':19 'boy':11 'china':20 'escap':14 'intrepid':4 'must':13 'panorama':5 'robot':8 'sumo':16 'truman':2 'wrestler':17"),
 (12, 'ALASKA PHANTOM', 'A Fanciful Saga of a Hunter And a Pastry Chef who must Vanquish a Boy in Australia', 2006, 1, None, 6, Decimal('0.99'), 136, Decimal('22.99'), 'PG', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Commentaries', 'Deleted Scenes'], "'alaska':1 'australia':19 'boy':17 'chef':12 'fanci':4 'hunter':8 'must':14 'pastri':11 'phantom':2 'saga':5 'vanquish':15"),
 (13, 'ALI FOREVER', 'A Action-Packed Drama of a Dentist And a Crocodile who must Battle a Feminist in The Canadian Rockies', 2006, 1, None, 4, Decimal('4.99'), 150, Decimal('21.99'), 'PG', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Deleted Scenes', 'Behind the Scenes'], "'action':5 'action-pack':4 'ali':1 'battl':16 'canadian':21 'crocodil':13 'dentist':10 'drama':7 'feminist':18 'forev':2 'must':15 'pack':6 'rocki':22"),
 (19, 'AMADEUS HOLY', 'A Emotional Display of a Pioneer And a Technical Writer who must Battle a Man in A Baloon', 2006, 1, None, 6, Decimal('0.99'), 113, Decimal('20.99'), 'PG', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Commentaries', 'Deleted Scenes', 'Behind the Scenes'], "'amadeus':1 'baloon':20 'battl':15 'display':5 'emot':4 'holi':2 'man':17 'must':14 'pioneer':8 'technic':11 'writer':12")]

In [0]:
first_row=rose[0]

In [0]:
first_row.keys()

['film_id',
 'title',
 'description',
 'release_year',
 'language_id',
 'original_language_id',
 'rental_duration',
 'rental_rate',
 'length',
 'replacement_cost',
 'rating',
 'last_update',
 'special_features',
 'fulltext']

In [0]:
How many movies are released for each rating?
What is the average rental duration for each rating?
What is the mean movie length? Calculate this by defining a function.
What is the median movie length? Calculate this by defining a function.
Calculate the standard deviation of the movie lengths. Calculate this by defining a function.

MEAN LENGTH FUNCTION

In [0]:
def mean_length(x):
  total=0
  for i in range(len(x)):
    total=total+x[i]['length']
  ml=total/len(x)
  return ml

In [35]:
mean_length(rose)

115.272

MEDIAN FUNCTION

i did not handle even odd numer of elements cases

In [0]:
def median_length(x):
  length=[]
  for i in range(len(x)):
    length.append(x[i]['length'])
  length_order=length.sort()
  mid=round(len(x)/2)
  return x[mid]['length']

In [39]:
median_length(rose)

141

STANDARD DEVIATION FUNCTION

In [0]:
def std_length(x):
  total=0
  m=mean_length(x)
  for i in range(len(x)):
    total=total+(x[i]['length']-m)**2
  var=total*(1/(len(x)-1))
  sd=var**.5
  
  return sd

In [66]:
std_length(rose)

40.42633181855987

STOP HERE

In [0]:

#THIS DOES NOT WORK
duration=[rates.count(x) for x in rate_types]
duration= [rose[i]['rental_duration'] for  i in range(1000)]
types=[rates.count(x) for x in rate_types]
divs=[rates for x in rate_types]

In [0]:
#duration

In [0]:
type(divs)

list

In [0]:
len(divs)

6

In [0]:
dur=[rose[i]['rental_duration' ] for i in range(1000)]

In [0]:
type(film)

sqlalchemy.engine.result.ResultProxy

In [0]:
first_row['rating']

'PG'

In [0]:
first_row.items()

[('film_id', 1),
 ('title', 'ACADEMY DINOSAUR'),
 ('description',
  'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies'),
 ('release_year', 2006),
 ('language_id', 1),
 ('original_language_id', None),
 ('rental_duration', 6),
 ('rental_rate', Decimal('0.99')),
 ('length', 86),
 ('replacement_cost', Decimal('20.99')),
 ('rating', 'PG'),
 ('last_update', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795)),
 ('special_features', ['Deleted Scenes', 'Behind the Scenes']),
 ('fulltext',
  "'academi':1 'battl':15 'canadian':20 'dinosaur':2 'drama':5 'epic':4 'feminist':8 'mad':11 'must':14 'rocki':21 'scientist':12 'teacher':17")]

In [0]:
# Find the total number of rows in the table
row_count = engine.execute('SELECT COUNT(*) FROM film')
row_count.first()

(1000,)

In [0]:
type(row_count)

sqlalchemy.engine.result.ResultProxy

In [0]:
sql = '''
SELECT 
  COUNT(*) 
FROM 
  film
WHERE 
  rating = 'PG' '''
row_count = engine.execute(sql)
engine.dispose()
ans = row_count.first()
print('There are {} PGs in the table'.format(ans['count']))

There are 194 PGs in the table

In [0]:
rows[0][10]

'PG'

In [0]:
select 
from rows